body {
    background-image: url("background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#salonImg{
    size: cover;
    border-radius: 8px;
    width: 300px;
}



.m {
    margin-top: 5 px;
}